@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

:root {
    --blue-: #1216c7;
    --background: #e9e9e9;
    --background-dark: #1d1d1d;
    --grey: #63636341;  
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(/img/capas/jujutsu-kaisen-capa-1920x1080.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    scroll-behavior: smooth;
    transition: 1s;
}

body.dark {
    background-image: linear-gradient(rgba(8, 8, 8, 0.8), rgba(8, 8, 8, 0.8)), url(/img/capas/jujutsu-kaisen-capa-1920x1080.jpg);
    background-size: cover;
    background-position: center;
    scroll-behavior: smooth;
    transition: 1s;
}

body::-webkit-scrollbar {
    width: 9px;
    background-color: #ffffff00
}

body::-webkit-scrollbar-thumb {
    background-color: #7777776a;
    border-radius: 5px;  
}

ul, a{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* div {
    border: red solid 1px;
} */


.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.nav-list {
    display: flex;
    align-items: center;
}
.nav-list ul {
    display: flex;
    justify-content:center;
}

.nav-item {
    margin: 0 25px;
}

.nav-item a{
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 400;
    color: #000000;
    transition: 1s ease-in-out;
}

.nav-item a:hover {
    transform: scale();
    color: #1216c7;
    font-size: 1.1rem;
}

.nav-item, .dark a {
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 400;
    color: #fff;
    transition: 1s ease-in-out;
}

.nav-item, .dark a:hover {
    transform: scale();
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
}

.rotate {
    width: 100px;
    height: auto;
    display: flex;
    animation: rotateAnimation 120s infinite;
}

.rotate img{
    width: 100px;
    height: auto;
    display: flex;
    transition: all 1s  ease-in-out;
    cursor: pointer;
}

.rotate img:hover{
    transform: rotate(720deg);
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(21600deg);
    }
}

.chk-box {
    display: flex;
    align-items: center;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.label {
    background-color: #000000;
    border-radius: 5vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
    transition: 1s;
}


.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.label.dark{
    transition: 1s ease-in-out;
    background-color: #dadada;
}

.fa-moon {
    color: rgb(175, 175, 175);
}

.fa-sun {
    color: yellow;
}

.menu-mobile-icon{
    display: none;
}

.menu-mobile {
    display: none;
}

.cell {
    height: 46vh;
    position: relative;
    border-radius: 1vh;
    overflow: hidden;
}

.cell img {
    margin-top: 10px;
    max-width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.cell img:hover{  
    transition: all 0.1s ease-in-out;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1.1);
    width: 547px;
    -webkit-filter: contrast(104%);
    -moz-filter: contrast(104%);
    -o-filter: contrast(104%);
    -ms-filter: contrast(104%);
    filter: contrast(104%);
    filter: grayscale(50%);
    cursor: pointer;
}

-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 100%;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
}


.divSearch {
    margin-top: 1em;
    margin-left: 50em;
    display: block;
    width: 30vh;
}

.divSearch input{
    background-color: rgb(255, 255, 255);
    color: #000000;
}

.icon-search {
    padding-left: 25px;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
    background-size: 20px;
}

.carousel-control-prev,
.carousel-control-next{
    background-color: #000000be;
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    transition: all 1s ease-in-out;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 2vh;
    height: 2vh;
    color: #fff;
}

.divEps oi{
    margin: 0;
    padding: 1em 1em 0em 0em;
}

.divEps img{
    transition: all 0.1s ease-in-out;
    padding: 2px;
    cursor: pointer;
    width: 100%;
    height: 27vh;
    border-radius: 1vh;
    max-width: 100%;
}

.divEps img:hover{
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1.1);
    -webkit-filter: contrast(104%);
    -moz-filter: contrast(104%);
    -o-filter: contrast(104%);
    -ms-filter: contrast(104%);
    filter: contrast(104%);
    filter: grayscale(50%);
}

.title-container {
    position: relative;
    display: inline-block;
}
.tamanho img {
    height: 43vh;
    border-radius: 1vh;
}

/* .image-block {
    position: absolute; 
    border-radius: 33px;
    top: 50%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff; 
    padding-bottom: 1em;
    margin: 0;
} */
#btnTop {
    display: flex;
    position: fixed;
    right: 40px;
    bottom: 50px;
    width: 40px;
    height: 40px;
    background-color: #27272734;
    border-radius: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

#btnTop:hover {
    background-color: #2727279c;
}


.arrow {
    border: solid #FFF;
    border-width: 0px 4px 4px 0;
    border-radius: 1px;
    padding: 4px;
    align-items: center;
    display: inline-block;
}

.up {
    transform: rotate(-135deg);
}

.dark hr {
    color: #fff;
    transition: transform 1s linear;
}

.dark li {
    color: #fff;
    transition: transform 1s linear;
}

.page-footer {
    height: 30vh;
}
@media screen and (max-width: 992px) {
    .nav-bar {
        margin: 0px;
        padding: 10px;
    }
    .tamanho {
        height: 18vh;
    }
    .cell {
        height: 17vh;
    }
    .cell img {
        width: 100%;
        height: 15vh;
    }
    .divEps img {
        width: 100%;
        height: 12vh;
    }

    .rotate img {
        width: 70px;
    }
}
@media screen and (max-width: 730px) {
    body {
        overflow-x: hidden;
    }
    .nav-bar {
        padding: 1rem 4rem;
    }

    .nav-item {
        display: none;
    }
    
    .menu-mobile-icon {
        display: flex;
        margin-left: 50px;
        transition: all 1s ease-in-out;
    }
    .menu-mobile ul, a{
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .menu-mobile .nav-item{
        display: block;
        width: 100%;
        padding-top: 1rem;
    }


    .menu-mobile-icon button {
        background: transparent;
        border: none;
    }

    .open {
        display: block;
        background-color: transparent;
        border-radius: 3vh;
        top: 0%;
        left: 40%;
        transition: transform all 1s ease-in-out;
    }

}

@media screen and (max-width: 576px) {
    body::-webkit-scrollbar {
        padding: 0;
        margin: 0;
        width: 2px;
        background-color: #ffffff00
    }
    
    body::-webkit-scrollbar-thumb {
        background-color: #7777776a;
        border-radius: 5px;  
    }

    .tamanho {
        border-radius: 1vh;
        height: 452px;
    }
    .cell {
        border-radius: 1vh;
        display: block;
        width: 100%;
        height: 137vh;
    }
    .cell img{
        border-radius: 1vh;
        width: 100%;
        height: 450px;
    }
    .cell:not(:first-child) {
      display: none;
    }
    .divEps img {
        border-radius: 1vh;
        width: 100%;
        height: 25vh;
    }
    .divEps a {
        width: 100%;
        height: 20vh;
    }
}