@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, rgba(0,0,0,0.6502801804315477) 2%, rgba(53,55,134,0.6474790599833684) 46%, rgba(60,17,103,0.633473457742472) 100%),
    url(../img/rent-a-girlfriend/capa-2.webp);
    background-size: auto;
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
    width: 4px;
    background-color: rgba(0, 0, 0, 0)
}

body::-webkit-scrollbar-thumb {
    background-color: #7777776a;
    border-radius: 5px;  
}

ul {
    list-style: none;
}

.nav-item {
    padding: 1em;
    align-items: center;
    text-align: center;
}
.nav-item a{
    padding-left: 1rem;
    text-decoration: none;
    font-size: 1.1em;
}

.divSearch {
    margin-top: 1em;
    margin-left: 50em;
    display: block;
    width: 30vh;
}

.divSearch input{
    background-color: rgb(255, 255, 255);
    color: #000000;
}
.divEps {
    padding-top: 1em;
}

.divEps img{
    width: 40vh;
    height: 25vh;
    border-radius: 3vh;
}
.title-container {
    position: relative;
    display: inline-block;
}

.tamanho img {
    width: 27vh;
    height: 40vh;
    border-radius: 3vh;
}

.image-block {
    position: absolute;
    border-radius: 33px;
    top: 50%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para o título */
    color: #ffffff; /* Cor do texto */
    padding-bottom: 1em;
    margin: 0;
}
.page-footer {
    height: 30vh;
    width: 100%;
}

.div-footer-center {
    width: 100%;
    height: 30vh;
}
