
body {
    background-color: var(--bs-blue);
}

body::-webkit-scrollbar {
    width: 4px;
    background-color: rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    background-color: #7777776a;
    border-radius: 5px;
}

ul {
    list-style: none;
}

.nav-Item a{
    padding-left: 1rem;
}

.divSearch {
    display: block;
    width: 30vh;
}
.divEps {
    padding-top: 1em;
}

.title-container {
    position: relative;
    display: inline-block;
}

.image-block {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para o título */
    color: #ffffff; /* Cor do texto */
    padding-bottom: 1em;
    margin: 0;
}
.page-footer {
    height: 30vh;
    width: 100%;
}

.div-footer-center {
    width: 100%;
    height: 30vh;
}
