:root {
    --background-main: rgb(2, 4, 32);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-main);
    overflow-x: hidden;
}

p {
    color: #fff;
}

a {
    color: #fff;
}

h1 {
    color: #fff;
}

img {
    object-fit: cover;
}

/* =========================================================================== */

/* Header */

/* =========================================================================== */

.gnime_header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 7vh;
    background-color: rgba(36, 31, 31, 0);
    width: 100%;
}

.grid_header {
    display: grid;
    grid-template-columns: 60% 40%;
}

.title_anime {
    color: rgb(58, 78, 255)
}

.nav__links {
    display: flex;
    height: 7vh;
    align-items: center;
    justify-content: left;
    margin: 0 0 0 2vh;

}

.list__links {
    display: flex;
    list-style: none;
    margin: 0 0 0 2vh;
}

.list__links li {
    padding-left: 1vh;
}

.list__links li a {
    color: #fff;
    list-style: none;
    text-decoration: none;
}

.user__links {
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0 2vh 0 0;
}

.user__links svg {
    margin: 0vh 0vh 0 6vh;
    cursor: pointer;
}

.input__search {
    display: flex;
    width: 100%;
}

.input_1 {
    width: 50%;
    height: 3vh;
    border-radius: 16px 0 0 16px;
    margin: 0;
    border: none;
    display: none;
}

.input_2 {
    cursor: pointer;
    background-color: rgb(55, 58, 255);
    border: none;
    width: 3vh;
    height: 3vh;
    border-radius: 16px;
    align-items: right;
    background-image: url(/icons/search.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

/* =========================================================================== */

/* Carousel */

/* =========================================================================== */

.carousel {
    background-color: aqua;
    align-items: center;
    width: 100%;
    margin-top: 7vh;
    height: 90vh;
    overflow: hidden;

}

.carousel_elements {
    width: 400%;
    height: 90vh;
    display: flex;
}

.carousel_elements input {
    display: none;
}

.carousel_img {
    width: 25%;
    position: relative;
}

.carousel_img img {
    width: 100%;
    height: 90vh;
}

.manual_pass {
    position: absolute;
    width: 100%;
    margin-top: -4vh;
    display: flex;
    justify-content: center;
}

.manual_btn {
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 9px;
    transition: all .5s;
    cursor: pointer;
}

.manual_btn:not(:last-child) {
    margin-right: 5px;
}

.manual_btn:hover {
    background-color: rgb(94, 94, 94);
}

#radio1:checked~.first {
    margin-left: 0;
    transition: all .5s;
}

#radio2:checked~.first {
    margin-left: -25%;
    transition: all .5s;
}

#radio3:checked~.first {
    margin-left: -50%;
    transition: all .5s;
}

#radio4:checked~.first {
    margin-left: -75%;
    transition: all .5s;
}

.auto_pass {
    position: absolute;
    width: 100%;
    display: flex;
    margin-top: -4vh;
    justify-content: center;
}

.auto_pass div {
    border: 2px solid rgba(255, 0, 0, 0);
    padding: 5px;
    border-radius: 9px;
    cursor: pointer;
    transition: .5s;
}

.auto_pass div:not(:last-child) {
    margin-right: 5px;
}


#radio1:checked + .auto_pass .auto_btn1,
#radio2:checked + .auto_pass .auto_btn2,
#radio3:checked + .auto_pass .auto_btn3,
#radio4:checked + .auto_pass .auto_btn4 {
    background-color: white !important; 
}
/* =========================================================================== */

/* Sliders */

/* =========================================================================== */
.sliders {
    display: flex;
    margin-top: 3vh;
    height: 35vh;
    width: 100%;
    background-color: aquamarine;
}

.slide {
    position: relative;
    width: calc(100% / 7);
    background-color: rgb(103, 146, 132);
    transition: all .7s;
    z-index: 1;
}

.slide:hover {
    width: 60vh;
    transition: all .7s;
    z-index: 2;
}


.imgs_slide img {
    position: absolute;
    width: 100%;
    height: 35vh;
    place-items: center;
    object-fit: cover;
}

/* =========================================================================== */

/* CenterPage */

/* =========================================================================== */

.desc_page {
    display: grid;
    grid-template-columns: 50%;
    height: 20vh;
    align-items: center;
    margin: 0;
}

.desc_div_1 {
    display: flex;
    align-items: last baseline;
    height: 20vh;
    margin: 0 20vh 0 20vh;
}

.desc_div_1 a {
    text-decoration: none;
    color: #c7c7c7;
    padding: 1vh;
    margin-bottom: 1vh;
    border-radius: 7px;
    transition: all .4s;
}

.desc_div_1 a:hover {
    color: #FFF;
}


.animes_page {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    height: 100vh;
    width: 100%;
}

.animes {
    width: 100%;
    height: 100vh;
}

.division_animes {
    display: flex;
    width: 100%;
    height: calc(75vh / 3);
    padding: 7px;
}

.animes_all {
    width: calc(100% / 4);
    padding: 0px 1vh 0 1vh;
}

.anime-img {
    width: 100%;
    align-items: center;
    height: 100%;
}

.anime-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* =========================================================================== */