* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #1a1919;
    overflow-x: hidden;
}

p {
    color: #fff;
}

a {
    color: #fff;
}

h1 {
    color: #fff;
}


.gnime_header {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    height: 7vh;
    background-color: rgb(36, 31, 31);
    width: 100%;
}

.grid_header {
    display: grid;
    grid-template-columns: 60% 40%;
}

.title_anime {
    color: rgb(55, 70, 209)
}

.nav__links {
    display: flex;
    height: 7vh;
    align-items: center;
    justify-content: left;
    margin: 0 0 0 2vh;

}

.list__links {
    display: flex;
    list-style: none;
    margin: 0 0 0 2vh;
}

.list__links li {
    padding-left: 1vh;
}

.list__links li a {
    color: #fff;
    list-style: none;
    text-decoration: none;
}

.user__links {
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0 2vh 0 0;
}

.user__links svg {
    margin: 0vh 0vh 0 6vh;
    cursor: pointer;
}

.input__search {
    display: flex;
    width: 100%;
}

.input_1 {
    width: 50%;
    height: 3vh;
    border-radius: 16px 0 0 16px;
    margin: 0;
    border: none;
}

.input_2 {
    cursor: pointer;
    background-color: rgb(55, 58, 255);
    border: none;
    width: 10%;
    height: 3vh;
    border-radius: 0 16px 16px 0;
    background-image: url(/icons/search.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.sliders {
    display: flex;
    margin-top: 3vh;
    height: 30vh;
    width: 100%;
    background-color: aquamarine;
}

.slide {
    width: calc(100% / 5);
    background-color: rgb(103, 146, 132);
}

.imgs_slide img {
    width: 100%;
    height: 30vh;
    place-items: center;
    object-fit: cover;
}

.desc_page {
    display: grid;
    grid-template-columns: 50%;
    height: 20vh;
    align-items: center;
    margin: 0;
}

.desc_div_1 {
    display: flex;
    align-items:last baseline;
    height: 20vh;
    margin: 0 0 0 8vh;
}

.animes_page {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    padding: 0 20vh 0 20vh;
    background-color: #161616;
}

.animes {
    width: 100%;
    height: 100vh;
    background-color: #1a1919;
}

.division_animes {
    display: flex;
    width: 100%;
    height: calc(100vh / 3);
    padding: 7px;
    background-color: rgb(34, 34, 34);
}

.animes_all {
    width: calc(100% / 4);
    padding: 0px 1vh 0 1vh;
    background-color: rgb(17, 17, 17);
}

.anime-img {
    width: 100%;
    height: 100%;
}

.anime-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}